<section class='conversation-section'>
  <div class='conversation-wrapper'>
    <h1>Mailbox</h1>
   <ul>
     <% @conversations.each do |conversation| %>
     <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
      <% if conversation.sender_id == current_user.id %>
      <div>
        <% recipient = User.find(conversation.recipient_id) %>
      </div>
      <% else %>
      <div>
        <% recipient = User.find(conversation.sender_id) %>
      </div>
      <% end %>
      <p>
        </li>
      <%= link_to recipient.name, conversation_messages_path(conversation)%>
        </li>
      </p>

     <% end %>
    <% end %>
  </ul>
 </div>
</section>
