.item-detail-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item-detail-article {
    border: 1px solid gray;
    text-align: center;
    margin: 10px auto;
    width: 350px;
}

.jersey-svg-container {
    width: 200px;
    height: 200px;
    margin: 10px auto;
}

.shorts-svg-container {
    width: 140px;
    height: 200px;
    margin: 10px auto;
    padding-top: 40px;
}

.socks-svg-container {
    width: 100px;
    height: 200px;
    margin: 10px auto;
    padding-top: 50px;
}

.others-svg-container {
    width: 175px;
    height: 200px;
    margin: 10px auto;
    padding-top: 30px;
}

.jersey-path {
    stroke: none;
    fill: $green;
}

.shorts-path {
    stroke: none;
    fill: $navy;
}

.socks-path {
    stroke: none;
    fill: $ltgreen;
}

.others-svg {
    .others-path {
        stroke: $white;
        fill: $black;
    }
}
