// colors
$cyan: cyan;
$black: black;
$gold: gold;
$gray: gray;
$green: green;
$ltblue: lightskyblue;
$ltgreen: chartreuse;
$maroon: maroon;
$navy: navy;
$orange: darkorange;
$purple: purple;
$red: red;
$royal: blue;
$silver: silver;
$white: white;
$yellow: yellow;
$dkgray: rgb(60,59,59);
$dkgreen: rgb(51,68,44);
