html {
    height: 100%;
}

body {
    background: $black;
    color: $white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    line-height: 1.6;
    margin: 0 auto;
    width: 100vw;
}

section {
    border-top: 2px solid black;
}

main {
    background: url('/img/grass.jpg') repeat center center;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    color: $gold;
    font-size: 2rem;
}

h3 {
    color: $gold;
    font-weight: 700;
}

.page-footer {
    background-color: $black;
    color: $gray;
    font-size: .8rem;
    width: 100%;
    clear: both;
    text-align: center;
    padding-top: 10px;
    a {
      color: $gray;
      &:hover {
        color: $white;
      }
    }
}
