.kit-builder-section {
  align-items: flex-start;
    border-radius: 10px;
    border: none;
    background-color: none;
    display: flex;
    flex-direction: column;
}

.kit-builder-title-wrapper {
  align-items: center;
  background-color: rgba($silver, .5);
  border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;

    img {
        max-width: 300px;
    }

    h2 {
        color: $red;
        font-weight: 700;
        min-width: 225px;
    }

    p {
        color: $black;
        padding-left: 20px;
    }
}

.kit-builder-display-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.kit-builder-forms {
  align-items: center;
    background-color: $black;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    min-width: 475px;
}

.item-form,
.kit-form {
    background-color: rgba($silver, .8);
    border: 3px solid $black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    width: 100%;

    h3 {
        font-size: 1.2rem;
    }

    span {
        color: $red;
    }

    div {
        margin: 8px auto;
    }

    label {
      color: $black;
        font-size: 0.9rem;
        padding-left: 5px;
    }

    textarea {
      border-radius: 5px;
        max-width: 400px;
        resize: none;
        width: 100%;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .kit-zip {
        width: 50px;
    }

    .kit-phone {
        width: 90px;
    }

    button {
      background-color: $green;
      border: none;
      border-radius: 10px;
      color: $white;
        font-size: 1.2rem;
        padding: 5px 10px;
        width: 30%;

        &:hover {
            background-color: $gold;
            color: $black;
        }
    }
}

.kit-arrow {
    margin-top: 200px;

    svg {
        height: 180px;

        polygon {
            fill: $red;
        }
    }
}

.kit-display-wrapper {
  align-items: center;
    background-color: $dkgreen;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    min-width: 370px;
    text-align: center;


    h3 {
        align-self: flex-start;
        font-size: 1.5rem;
        line-height: 1;
    }

    h4 {
        align-self: flex-start;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    p {
      color: $black;
    }
    .item-message {
      color: $silver;
    }

    .club-logo {
      background-color: $black;
      border: 1px solid $black;
      border-radius: 0 15px 0 20px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }

    .item-detail-wrapper {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .item-detail {
      background-color: $silver;
      border-radius: 5px;
      border: 1px solid black;
      color: $black;
      padding: 5px;
      margin: 5px 2px;
      width: 100px;
      &:hover {
        background-color: $gold;
      }
      img {
        max-height: 75px;
      }

    }

}
footer.kit-display-footer {
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  &:hover {
    background-color: $gold;
    color: $black;
  }
}
