.secondary-header {
  width: 100%;
  height: 90px;
  background-color: $green;
  border-bottom: 25px solid black;
  img {
    width: 425px;
    padding: 8px 20px;
  }
}
.site-nav {
  float: right;
  width: 50%;
  height: 60px;
  ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    li {
      display: block;
      color: white;
      text-transform: uppercase;
      font-size: 0.8rem;
      padding: 5px;
      border-radius: 5px;
      &:hover {
        color: $black;
        background-color: $gold;
        transform: scale(1.2);
      }
    }
  }
}
