<!doctype html>
<html lang="en">

<head>
  <title>kit-trader | upcycling uniforms NEW</title>
  <meta name="viewport" content="width=device-width" initial-scale="1">
</head>

<body>

  <main id='site-content'>
    <!-- <div id='duck'>

      <KitBuilder></KitBuilder>
    </div> -->

    <section class='about-section is-hidden'>
      <img src='img/nouniform.png' />
      <div class='about-wrapper'>
        <h1 class='about-h1'>Kit-trader upcycles uniforms.</h1>
        <h4>With kit-trader.com, you can browse for club uniforms or post your own.</h4>
        <h4>Offer your kit for sale, for trade, or as a donation (it's free).</h4>
        <div class='about-buttons'>
          <p>Unwanted uniform? <span>Find someone who needs it.</span> Post it!</p>
          <p>Need a uniform? <span>Need it today? Find one.</span>Search it!</p>
        </div>
        <h3>What is a 'kit'?</h3>
        <p>A kit is a set of items which comprise a player's standard uniform attire.</p>
        <p>Soccer kits required by soccer clubs typically include one or more jerseys, shorts, socks, and warmups.</p>
        <p>With Kit-trader, you can offer or search for locally-owned kits with as little as one item (one jersey) or an entire club's required items. Every team starts with a kit.</p>
      </div>
    </section>

    <section class='login-section is-hidden'>
      <h3>Please login or create a Kit-Trader account<img src='img/logowide.svg' alt='kit-trader' /></h3>
      <form form='login-form' type='submit'>
        <a href='/auth/facebook'>Use Facebook<img src='img/fbook.svg' alt='facebook icon' /></a>
        <a href='/auth/google_oauth2'>Use Google<img src='img/google.svg' alt='google icon' /></a>
      </form>
    </section>

    <section class='kit-profile-section is-hidden'>

      <div class='kit-profile-title-wrapper'>
        <img src='img/kitprofile.svg' alt='kit profile logo' />
        <h2>Your profile.</h2>
        <div>
          <p>Your kits are shown below.</p>
          <p>Kits can contain one or many items.</p>
          <p>Delete your kits by click on the red x.</p>
        </div>
      </div>

    </section>

    <section class='kit-builder-section is-hidden'>

      <div class='kit-builder-title-wrapper'>
        <img src='img/kitbuilder.svg' alt='kit builder logo' />
        <h2>Build your kit.</h2>

        <div>
          <p>Kit-trader lists kits. Build your kit below.</p>
          <p>Your kit can contain one or many items.</p>
          <p>See our <a href='#'>FAQ</a> for information about building kits.</p>
        </div>

      </div>

      <div class='kit-builder-display-wrapper'>

        <div class='kit-builder-forms'>

          <form class='kit-form' type='submit'>
            <h3>Describe your kit.</h3>
            <p>Your kit setup will display on the right.</p>

            <div class='kit-form-line'>

              <label for 'kit-trans-type'>I want to</label>
              <select class='kit-trans-type' name='kit-trans-type' required>
          <option value='sell'>Sell my kit</option>
          <option value='trade'>Trade my kit</option>
          <option value='donate'>Donate my kit</option>
          <option value='want'>Post a needed kit</option>
        </select><span>*</span>

              <label for 'kit-price'>Whole kit price $</label>
              <input class='kit-price' type='number' min='0' max='99' />

            </div>

            <div class='kit-form-line'>

              <label for='club'>Which club?</label>
              <select class='kit-club' name='club' required>
          <option value='CASL'>CASL | Capital Area SL</option>
          <option value='CSL'>CSL | Chatham SL</option>
          <option value='EWSA'>EWSA | East Wake SA</option>
          <option value='GCAA'>GCAA | Greater Cleveland AA</option>
          <option value='NCFC'>NCFC | North Carolina FC Youth</option>
          <option value='SASL'>SASL | Sanford Area SL</option>
          <option value='TFCA'>TFCA | Triangle Futbol Club Alliance</option>
          <option value='TUSA'>TUSA | Triangle United SA</option>
          <option value='TUSAWFC'>TUSA-WakeFC | TriangleUnited/WakeFC</option>
          <option value='TUSAXL'>TUSA-XL | TriangleUnited/XL Soccer</option>
          <option value='ACS'>ACS | AC Sandhills</option>
          <option value='FSC'>FSC | Fayetteville SC</option>
          <option value='JUSA'>JUSA | Johnston United SA</option>
          <option value='BSC'>BSC | Burlington SC</option>
          <option value='CCSC'>CCSC | Central Carolina SC</option>
          <option value='GUSA'>GUSA | Greensboro United SC</option>
          <option value='KSA'>KSA | Kernersville SC</option>
          <option value='NCSF'>NCSF | NC Soccer Fusion</option>
          <option value='NCUSA'>NCUSA | NC United SA</option>
          <option value='PTFC'>PTFC | Piedmont Triad Futbol Club</option>
          <option value='TCYSA'>TCYSA | Twin City Youth SA</option>
          <option value='URYSA'>URYSA | United Rockingham Youth SA</option>
          <option value='other'>other | other club not listed</option>
        </select><span>*</span>

              <select class='kit-club-level' required>
          <option value='classic'>Classic</option>
          <option value='challenge'>Challenge</option>
          <option value='select'>Select</option>
          <option value='academy'>Academy</option>
          <option value='recreation'>Recreation</option>
        </select><span>*</span>
            </div>

            <div class='kit-form-line'>

              <label for 'kit-zip'>Zip code</label>
              <input class='kit-zip' type='number' min='5' max='5' required/><span>*</span>

              <label for='year'>Season</label>
              <select class='kit-season' name='size' required>
            <option value='2015'>2015-2016</option>
            <option value='2016'>2016-2017</option>
            <option value='2017'>2017-2018</option>
          </select><span>*</span>
            </div>

            <div class='kit-form-line'>

              <label for='kit-contact'>Contact method</label>
              <select class='kit-contact' required>
            <option value='email'>email</option>
            <option value='text'>text message</option>
            <option value='phone'>voice call</option>
            <option value='msg'>kit-message</option>
          </select><span>*</span>

              <label for='kit-phone'>Cell phone</label>
              <input class='kit-phone' type='tel' />
            </div>

            <!-- <div class='kit-form-line'>

              <label for='file'>Do you want to include a kit picture?</label>
              <input type='file' class='kit-pic' name='file' />

            </div> -->

            <textarea maxlength='100' placeholder='Briefly comment on your items.'></textarea>

            <button type='submit'>Make kit</button>
          </form>

          <form class='item-form'>

            <h3>Add an item.</h3>
            <p>Each item submitted will be added to your kit.</p>

            <div class='item-form-line'>

              <label for='type'>Item</label>
              <select class='item-type' required>
          <option value='jersey'>Jersey</option>
          <option value='shorts'>Shorts</option>
          <option value='socks'>Socks</option>
          <option value='jacket'>Warmup Jacket</option>
          <option value='pants'>Warmup Pants</option>
          <option value='other'>Ball</option>
          <option value='other'>Gloves</option>
          <option value='other'>Shoes</option>
        </select><span>*</span>

              <label for='size'>Size</label>
              <select class='item-size' name='size' required>
        <option value='YS'>Youth Small</option>
        <option value='YM'>Youth Medium</option>
        <option value='YL'>Youth Large</option>
        <option value='YXL'>Youth X-Large</option>
        <option value='S'>Adult Small</option>
        <option value='M'>Adult Medium</option>
        <option value='L'>Adult Large</option>
        <option value='XL'>Adult X-Large</option>
        <option value='LXS'>Ladies X-Small</option>
        <option value='LS'>Ladies Small</option>
        <option value='LM'>Ladies Medium</option>
        <option value='LL'>Ladies Large</option>
        <option value='A'>Adult</option>
        <option value='Y'>Youth</option>
        <option value='none'>No Size</option>
      </select><span>*</span>

              <label for='number'>Number </label>
              <input type='number' class='item-number' name='number' min='0' max='99' id='enter-item-form-number' />
            </div>

            <div class='item-form-line'>

              <label for='color'>Color</label>
              <select class='item-color' required>
          <option value='cyan'>Cyan</option>
          <option value='black'>Black</option>
          <option value='gold'>Gold</option>
          <option value='gray'>Gray</option>
          <option value='green'>Green</option>
          <option value='ltblue'>Light Blue</option>
          <option value='ltgreen'>Light Green</option>
          <option value='maroon'>Maroon</option>
          <option value='navy'>Navy</option>
          <option value='orange'>Orange</option>
          <option value='purple'>Purple</option>
          <option value='red'>Red</option>
          <option value='royal'>Royal Blue</option>
          <option value='silver'>Silver</option>
          <option value='white'>White</option>
          <option value='yellow'>Yellow</option>
          <option value='other'>Other Color</option>
        </select><span>*</span>

              <label for='condition'>Condition</label>
              <select class='item-condition' name='condition'>
        <option value='new'>New</option>
        <option value='likenew'>Like New</option>
        <option value='good'>Used good</option>
        <option value='fair'>Used fair</option>
        <option value='poor'>Used poor</option>
      </select>

              <label for 'item-price'>Item price $</label>
              <input class='item-price' type='number' min='0' max='99' />


            </div>

            <button type='submit'>Add item</button>

          </form>
        </div>

        <div class='kit-arrow'>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 130">
            <polygon points="0 22.65 22.93 22.65 22.93 26.28 45.72 13.14 22.93 0 22.93 3.63 0 3.63 0 22.65"/>
          </svg>
        </div>

        <div class='kit-display-wrapper'>
          <img class='club-logo' src='img/clublogos/tfca.png' alt='club logo' />
          <div class='kit-display-text'>

            <h3>Kit For Sale | $50</h3>
            <h4>TFCA | Classic | 2015-2016</h4>
          </div>


          <div class='item-detail-wrapper'>
            <article class='item-detail'>
              <img src='img/jersey.svg' alt='kit-item-display' />
              <p>Like New</p>
              <p>YL | $20</p>
            </article>
            <article class='item-detail'>
              <img src='img/jacket.svg' alt='kit-item-display' />
              <p>Like New</p>
              <p>YL | $20</p>
            </article>
            <article class='item-detail'>
              <img src='img/gloves.svg' alt='kit-item-display' />
              <p>Like New</p>
              <p>YL | $20</p>
            </article>
            <article class='item-detail'>
              <img src='img/pants.svg' alt='kit-item-display' />
              <p>Like New</p>
              <p>YL | $20</p>
            </article>
            <article class='item-detail'>
              <img src='img/socks.svg' alt='kit-item-display' />
              <p>Like New</p>
              <p>youth | $20</p>
            </article>
            <article class='item-detail'>
              <img src='img/shorts.svg' alt='kit-item-display' />
              <p>Like New</p>
              <p>YL | $20</p>
            </article>
            <article class='item-detail'>
              <img src='img/shoes.svg' alt='kit-item-display' />
              <p>Like New</p>
              <p> sz4 | $20</p>
            </article>
            <article class='item-detail'>
              <img src='img/ball.svg' alt='kit-item-display' />
              <p>Like New</p>
              <p> sz4 | $20</p>
            </article>

          </div>
          <p class='item-message'>Worn for one season, small stain on the knees and stain on front of yellow jersey.</p>
          <footer class='kit-builder-footer'>
            <img src='img/vrh_small.jpg' alt='user-photo' />
            <div class='kit-viewer-footer-text'>
              <h5>Vallyre Hyers | 27712 | vallyre@vallyre.com</h5>
              <h5>Contact me via email</h5>
            </div>
          </footer>

        </div>
    </section>

    <section class='kit-viewer-section'>

      <div class='kit-viewer-title-wrapper'>
        <img src='img/kitviewer.svg' alt='kit viewer logo' />
        <h2>View kits.</h2>
        <div>
          <p>Kit-trader lists kits.</p>
          <p>Kits can contain one or many items.</p>
          <p>Choices below filter kits.</p>
        </div>
      </div>

      <div class='kit-viewer-search'>

        <form class='kit-viewer-search-form'>

          <div class='kit-search-line'>
            <label for 'kit-trans-type'>Transaction type</label>
            <select class='kit-trans-type' name='kit-trans-type' required>
              <option value='sell'>Kits for sale</option>
              <option value='trade'>Kits for trade</option>
              <option value='donate'>Free kits</option>
              <option value='want'>Needed kits</option>
            </select>
          </div>

          <div class='kit-search-line'>
            <label for='search-club'>Club</label>
            <select class='kit-club' name='club' required>
              <option value='CASL'>CASL | Capital Area SL</option>
              <option value='CSL'>CSL | Chatham SL</option>
              <option value='EWSA'>EWSA | East Wake SA</option>
              <option value='GCAA'>GCAA | Greater Cleveland AA</option>
              <option value='NCFC'>NCFC | North Carolina FC Youth</option>
              <option value='SASL'>SASL | Sanford Area SL</option>
              <option value='TFCA'>TFCA | Triangle Futbol Club Alliance</option>
              <option value='TUSA'>TUSA | Triangle United SA</option>
              <option value='TUSAWFC'>TUSA-WakeFC | TriangleUnited/WakeFC</option>
              <option value='TUSAXL'>TUSA-XL | TriangleUnited/XL Soccer</option>
              <option value='ACS'>ACS | AC Sandhills</option>
              <option value='FSC'>FSC | Fayetteville SC</option>
              <option value='JUSA'>JUSA | Johnston United SA</option>
              <option value='BSC'>BSC | Burlington SC</option>
              <option value='CCSC'>CCSC | Central Carolina SC</option>
              <option value='GUSA'>GUSA | Greensboro United SC</option>
              <option value='KSA'>KSA | Kernersville SC</option>
              <option value='NCSF'>NCSF | NC Soccer Fusion</option>
              <option value='NCUSA'>NCUSA | NC United SA</option>
              <option value='PTFC'>PTFC | Piedmont Triad Futbol Club</option>
              <option value='TCYSA'>TCYSA | Twin City Youth SA</option>
              <option value='URYSA'>URYSA | United Rockingham Youth SA</option>
              <option value='other'>other | other club not listed</option>
            </select>
            <select class='kit-club-level' required>
              <option value='classic'>Classic</option>
              <option value='challenge'>Challenge</option>
              <option value='select'>Select</option>
              <option value='academy'>Academy</option>
              <option value='recreation'>Recreation</option>
            </select>
          </div>

          <div class='kit-search-line'>
            <label for='type'>Item type</label>
            <select class='item-type' required>
              <option value='jersey'>Jersey</option>
              <option value='shorts'>Shorts</option>
              <option value='socks'>Socks</option>
              <option value='jacket'>Warmup Jacket</option>
              <option value='pants'>Warmup Pants</option>
              <option value='other'>Ball</option>
              <option value='other'>Gloves</option>
              <option value='other'>Shoes</option>
            </select>
          </div>

          <div class='kit-search-line'>
            <label for='size'>Size</label>
            <select class='item-size' name='size' required>
              <option value='YS'>Youth Small</option>
              <option value='YM'>Youth Medium</option>
              <option value='YL'>Youth Large</option>
              <option value='YXL'>Youth X-Large</option>
              <option value='S'>Adult Small</option>
              <option value='M'>Adult Medium</option>
              <option value='L'>Adult Large</option>
              <option value='XL'>Adult X-Large</option>
              <option value='LXS'>Ladies X-Small</option>
              <option value='LS'>Ladies Small</option>
              <option value='LM'>Ladies Medium</option>
              <option value='LL'>Ladies Large</option>
              <option value='A'>Adult</option>
              <option value='Y'>Youth</option>
              <option value='none'>No Size</option>
            </select>
          </div>

          <div class='kit-search-line'>
            <label for='year'>Season</label>
            <select class='kit-season' name='size' required>
              <option value='2015'>2015-2016</option>
              <option value='2016'>2016-2017</option>
              <option value='2017'>2017-2018</option>
            </select>
          </div>

          <button class='kit-search-clear'>reset</button>

        </form>
      </div>

      <div class='kit-viewer-display-container'>
        <h3>Available Kits </h3>
        <div class='kit-viewer-display'>

          <article class='kit'>
            <img class='club-logo' src='img/clublogos/tfca.png' alt='club logo' />
            <h3>Kit For Sale | $50</h3>
            <h4>TFCA | Classic | 2015-2016</h4>
            <div class='item-detail-wrapper'>
              <article class='item-detail'>
                <img src='img/jersey.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
              <article class='item-detail'>
                <img src='img/jacket.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
              <article class='item-detail'>
                <img src='img/shoes.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
              <article class='item-detail'>
                <img src='img/ball.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
            </div>
            <p class='item-message'>Worn for one season, small stain on the knees and stain on front of yellow jersey.</p>
            <footer class='kit-viewer-footer'>
              <img src='img/vrh_small.jpg' alt='user-photo' />
              <div class='kit-viewer-footer-text'>
                <h4>Vallyre Hyers | 27712</h4>
                <h4>Contact me via email</h4>
                <h4>Send me a kit-message</h4>
              </div>
            </footer>
          </article>
          <article class='kit'>
            <img class='club-logo' src='img/clublogos/casl.png' alt='club logo' />
            <h3>Kit For Sale | $50</h3>
            <h4>CASL | Challenge | 2015-2016</h4>
            <div class='item-detail-wrapper'>
              <article class='item-detail'>
                <img src='img/jersey.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
              <article class='item-detail'>
                <img src='img/jersey.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
            </div>
            <p class='item-message'>Worn for one season, small stain on the knees and stain on front of yellow jersey.</p>
            <footer class='kit-viewer-footer'>
              <img src='img/vrh_small.jpg' alt='user-photo' />
              <div class='kit-viewer-footer-text'>
                <h4>Vallyre Hyers | 27712</h4>
                <h4>Contact me via email</h4>
              </div>
            </footer>
          </article>
          <article class='kit'>
            <img class='club-logo' src='img/clublogos/tusa.png' alt='club logo' />
            <h3>Kit For Sale | $50</h3>
            <h4>TUSA | Classic | 2015-2016</h4>
            <div class='item-detail-wrapper'>
              <article class='item-detail'>
                <img src='img/jersey.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
              <article class='item-detail'>
                <img src='img/shorts.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
              <article class='item-detail'>
                <img src='img/pants.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
            </div>
            <p class='item-message'>Worn for one season, small stain on the knees and stain on front of yellow jersey.</p>
            <footer class='kit-viewer-footer'>
              <img src='img/vrh_small.jpg' alt='user-photo' />
              <div class='kit-viewer-footer-text'>
                <h4>Vallyre Hyers | 27712</h4>
                <h4>Send me a kit-message</h4>
              </div>
            </footer>
          </article>
          <article class='kit'>
            <img class='club-logo' src='img/clublogos/acs.png' alt='club logo' />
            <h3>Kit For Sale | $50</h3>
            <h4>ACS | Classic | 2015-2016</h4>
            <div class='item-detail-wrapper'>
              <article class='item-detail'>
                <img src='img/jersey.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
            </div>
            <p class='item-message'>Worn for one season, small stain on the knees and stain on front of yellow jersey.</p>
            <footer class='kit-viewer-footer'>
              <img src='img/vrh_small.jpg' alt='user-photo' />
              <div class='kit-viewer-footer-text'>
                <h4>Vallyre Hyers | 27712</h4>
                <h4>Call me at 919-699-2669</h4>
              </div>
            </footer>
          </article>
          <article class='kit'>
            <img class='club-logo' src='img/clublogos/bsc.png' alt='club logo' />
            <h3>Kit For Sale | $50</h3>
            <h4>BSC | Academy | 2015-2016</h4>
            <div class='item-detail-wrapper'>
              <article class='item-detail'>
                <img src='img/gloves.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
              <article class='item-detail'>
                <img src='img/ball.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
              <article class='item-detail'>
                <img src='img/shoes.svg' alt='kit-item-display' />
                <p>Like New</p>
                <p>YL | $20</p>
              </article>
            </div>
            <p class='item-message'>Worn for one season, small stain on the knees and stain on front of yellow jersey.</p>
            <footer class='kit-viewer-footer'>
              <img src='img/vrh_small.jpg' alt='user-photo' />
              <div class='kit-viewer-footer-text'>
                <h4>Vallyre Hyers | 27712</h4>
                <h4>Contact me via email</h4>
              </div>
            </footer>
          </article>
        </div>
      </div>
    </section>

  </main>


</body>
</html>
