@import 'partials/reset';
@import 'partials/colors';
@import 'partials/header';
@import 'partials/items';
@import 'partials/modifiers';

body {
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
    margin: 0 auto;
    background: white;
    font-family: 'Nunito', sans-serif;
}

footer,
nav,
section {
    border-top: 2px solid black;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.club-logos {
  display: flex;
  justify-content: space-around;
  height: 70px;
  padding: 5px 0;
  background-color: $sitebrown;
  img {
    width: 80px;

  }
}

.about-section {
  text-align: center;
  width: 100%;
  background: url("../img/heathergray.jpg");
  padding: 20px 0;
}
.about-pics-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 150px;
    max-height: 150px;
  }
}
.about-arrow {
  padding: 40px;
  padding-right: 10px;
}
